import os

# Used for testing the email functionality of the site. This will
# send emails via your email provider's smtp server and appear to
# come from your provided email address. Be careful not to give
# it any reason to suspect you of being a spammer.
DEFAULT_FROM_EMAIL = '<you@youremail.tld>'

EMAIL_BACKEND = 'django_smtp_ssl.SSLEmailBackend'
# Or django.core.mail.backends.smtp.EmailBackend if your smtp
# provider does not require SSL/TLS

# Your email provider may have different settings. Update as required
EMAIL_HOST = '<your.email.smtp.tld>'
EMAIL_PORT = 465
EMAIL_USE_TLS = True

EMAIL_HOST_USER = '<username to authenticate to SMTP server>'
EMAIL_HOST_PASSWORD = ''

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '*2f6ui#dpk$ptao7=8$z5ts*9=m#)h!*6_9o41r2xcw3id7v$o'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True